extends base

block content
  h4 Update Video
  form(method='post')
    input(required, type="text", value=video.title, name="title", placeholder="Title")
    input(required, type="text", value=video.description, name="description", placeholder="Description")
    input(required, type="text", value=video.hashtags.join(), name="hashtags", placeholder="Hashtags")
    input(type="submit", value="Edit Video")