extends base

block content  
  form(method="post", enctype="multipart/form-data").edit-profile__form
    label(for="avatar") Avatar
    input(type="file", id="avatar", name="avatar", accept="image/*")
    input(required, name="name",type="text", placeholder="Name", value=loggedInUser.name)
    input(required, name="email",type="email", placeholder="Email", value=loggedInUser.email)
    input(required, name="username",type="text", placeholder="Username", value=loggedInUser.username)
    input(required, name="location",type="text", placeholder="Location", value=loggedInUser.location)
    input(type="submit", value="Update Profile")
    if !loggedInUser.socialOnly
      div.edit-profile__password
        a(href="change-password") Change Password &rarr;