extends base

block content
  if errorMessage
    h3=errorMessage
  form(method="post")
    input(required, name="name",type="text", placeholder="Name")
    input(required, name="email",type="email", placeholder="Email")
    input(required, name="username",type="text", placeholder="Username")
    input(required, name="password",type="password", placeholder="Password")
    input(required, name="password2",type="password", placeholder="Password Confirmation")
    input(required, name="location",type="text", placeholder="Location")
    input(type="submit", value="Join Now")
    include partials/social-login
  div.auth-switch
    span Already have an account? 
    a(href="/login") Log in now &rarr;

