extends base

block content
  if errorMessage
    h3=errorMessage
  form(method="post")    
    input(required, name="username",type="text", placeholder="Username")
    input(required, name="password",type="password", placeholder="Password")   
    input(type="submit", value="Login now")
    br
    a(href="https://github.com/login/oauth/authorize?client_id=b68f8f040699d9ebe1c9&allow_signup=false") Continue with Github &rarr;
  hr
  div
    span Don't have an account? 
    a(href="/join") Create one now &rarr;

