extends base
include mixins/video

block content
  form(method="get") 
    input(name="keyword" type="text", placeholder="Search by title")
    input(type="submit", value="Search")
  div
    each video in videos
      +videoMixin(video)